$black: #000000;
$lightGrey:#F2F2F2;
$white: #FFFFFF;
$error:#BF2012;
$grey:#787878;
$grey2:#464646;
$paddingLeftDesktop:6.4rem;
$paddingRightDesktop:6.4rem;
$paddingLeftMedium:5.6rem;
$paddingRightMedium:5.6rem;
$paddingLeftMobile:2rem;
$paddingRightMobile:2rem;
$MOBILE_BREAKPOINT:740px;
$TABLET_LANDSCAPE_BREAKPOINT:1112px;
$MEDIUM_BREAKPOINT:1280px;
$TABLET_PORTRAIT_BREAKPOINT:900px;
$HEADER_HEIGHT_DESKTOP:8rem;
$HEADER_HEIGHT_MEDIUM:7.2rem;
$HEADER_HEIGHT_TABLET:6.2rem;
$HEADER_HEIGHT_MOBILE:5.6rem;
